<h1><%= @product.name %></h1>

<table class="table table-striped">

  <tbody>
    <tr>
      <th scope="col">Image</th>
      <td>
        <% if @product.images.attached? %>
            <%= image_tag(@product.images) %>
        <% end %>
    </td>
    </tr>
    <tr>
      <th scope="col">SKU</th>
      <td><%= @product.sku %></td>
    </tr>
    <tr>
      <th scope="col">Price</th>
      <td><%= number_to_currency(@product.price )%></td>
    </tr>
    <tr>
      <th scope="col">Color</th>
      <td><%= @product.color %></td>
    </tr>
    <tr>
      <th scope="col">Style</th>
      <td><%= @product.style %></td>
    </tr>
    <tr>
      <th scope="col">Description</th>
      <td><%= @product.description %></td>
    </tr>

  </tbody>

</table>






            <%= form_for @product, :url => cart_items_url, :html => { :method => :post } do |f|%>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.hidden_field :quantity, value: 1, class: "number-tag", min: 1 %>
                <%= f.submit 'Add to Cart', class: "btn btn-success" %>
             <%end%> 

