<h1>Your Cart</h1>

<table class="row">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

<tbody>
    <% @cart.cart_items.each do |item| %>


      <tr class="col-md-16">
        <td><%= link_to image_tag(item.product.images, class: "image"), dingledoo_url(item.product.id)  %></td>
        <td><%= link_to item.product.name, dingledoo_url(item.product.id) %></td>
        <td>
                <p><%= item.quantity %></p>
                  <li>
                    <%= link_to "Add one", cart_items_add_url(item), method: :post %>
                    <% if item.quantity > 1 %>
                        <%= link_to "Reduce one", cart_items_reduce_url(item), method: :post %>
                    <% end %>
                </li>
        </td>

        <td><%= number_to_currency(item.product_total_price) %></td>
        <td><%= link_to 'Remove from cart', cart_item_url(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div>
    Subtotal <%= number_to_currency(@cart.cart_subtotal) %>
    <div>
        <%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-info' %>
    </div>
</div>






