<!DOCTYPE html>
<html>
  <head>
    <title>DingleDoo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  </head>
  <body>
    <% if logged_in? && current_user.admin? %>
      <%= render partial: 'shared/admin_nav' %>
    <% else%>
      <%= render partial: 'shared/main_nav' %>
    <% end %>

    

    <br>
    <div class='main-content'>

    
      

      <% if logged_in? %>
        
        <nav class="wrapper">
          <div class='user-detail'>
            <p>Logged in as: <%= current_user.email %></p>
          </div>
        </nav>
      <% end %>

      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>

      <% if flash[:errors] %>
        <p><%= flash[:errors].join(", ") %></p>
      <% end %>

<div class="wrapper">
      <%= yield %>
</div>
    </div>


  </body>
  
</html>
